<div class="panel panel-default">
    <div class="panel-heading">
        <div class="comment-stats">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="label label-info"><%= pluralize(comments.count, 'comment') %></span>
            <span class="label label-success"><%= pluralize(authors.count, 'commenter') %></span>
        </div>
    </div>
    <%= form_for Comment.new do |f| %>
        <div class="panel-body">
            <div class="form-group">
                <%= f.hidden_field :article_id, value: article_id %>
                <%= f.text_area :body, class: 'form-control', rows: 2, placeholder: 'write your comment...' %>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right"><button type="submit" class="btn btn-sm btn-danger">Post</button></div>
        </div>
    <% end %>
</div>

<script>
    $(document).ready(function() {
        $('#new_comment').on('keydown', function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                $(this).submit();
            }
        });
    });
</script>