<div class="row">
    <div id="picture-size-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h4 class="text-warning">Picture size is too large</h4></div>
                <div class="modal-body">
                    <p>Your picture you chose is too large. Please select picture with maximum size of 5 megabytes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 article-form">
        <%= form_for(@article, html: { multipart: true }) do |f| %>
            <%= render 'partials/error_messages', object: f.object %>

            <div class="form-group">
                <%= f.label :title, class: 'control-label' %>
                <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'article title', autofocus: true %>
            </div>
            <div class="form-group">
                <%= f.label :content, class: 'control-label' %>
                <%= f.text_area :content, id: 'summernote'%>
            </div>
            <div class="form-group">
                <%= f.label :tag_list, class: 'control-label' %>
                <%= f.select :tag_list, Tag.all.collect { |t| [t.name, t.name] },
                             {selected: @article.tags.collect { |t| t.name }},
                             {id: 'tags-list-selection', class: 'form-control', multiple: true} %>
            </div>
            <div class="form-group">
                <%= f.label :picture, class: 'control-label' %>
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                <p class="help-block">Choose your picture to upload</p>
            </div>

            <button type="submit" class="btn btn-success btn-lg"><%= yield(:article_form_button) %></button>
        <% end %>
    </div>
</div>
