<% provide :title, @article.title %>
<div class="row">
    <div class="col-md-3"><%= render 'users/user_sidebar' %></div>
    <div class="col-md-9">
        <div class="article-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="dropdown">
                            <span class="glyphicon glyphicon-menu-down dropdown-toggle" data-toggle="dropdown"></span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <% if current_user?(@article.user) %>
                                    <li><a href="<%= edit_article_path(@article) %>"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                    <li>
                                        <%= link_to @article, method: :delete, data: { confirm: 'Do you want to delete this article?' } do %>
                                            <span class="glyphicon glyphicon-trash"></span>Delete
                                        <% end %>
                                    </li>
                                    <div class="divider"></div>
                                <% end %>
                                <li><a href="#"><span class="glyphicon glyphicon-heart-empty"></span>Follow</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-flash"></span>Share</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <h1><%= @article.title %></h1>
                        <p class="text-muted">Published at: <%= @article.created_at.strftime('%H:%M:%S - %b %d, %Y') %></p>
                    </div>
                </div>
                <div class="panel-body">
                    <%= image_tag(@article.picture.url) if @article.picture? %>
                    <%= @article.content.html_safe %>
                </div>
                <div class="panel-footer"><%= render 'partials/tags', object: @article %></div>
            </div>
            <div class="comment-create-form">
                <%= render 'comments/comment_notifications' %>
                <%= render 'comments/comment_form', article_id: @article.id, comments: @comments, authors: @article.comment_authors %>
            </div>
            <div id="comments">
                <% if @comments.empty? %>
                    <p class="text-center text-warning no-comment">No comments found.</p>
                <% else %>
                    <%= render @comments %>
                    <div class="text-center"><%= will_paginate @comments, previous_label: '&laquo;', next_label: '&raquo;' %></div>
                <% end %>
            </div>
        </div>
    </div>
</div>
