<%= user_gravatar(user, size: 80) %>
<h5><%= link_to user.name, user, class: 'user-name' %></h5>
<h6><%= user.email %></h6>
<p><span class="label label-success"><%= pluralize(user.followers.count, 'follower') %></span></p>
<p><span class="label label-danger"><%= user.following.count %> following</span></p>