<% provide :title, 'Public activities' %>
<div class="row activities">
    <h2 class="section-title">Public activities of <%= link_to @user.name, @user, class: 'author' %></h2>
    <div class="col-md-4">
        <div class="user-activities">
            <div class="panel panel-danger">
                <div class="panel-heading text-center"><%= @relationships.count %> following</div>
            </div>
            <% @relationships.each do |relationship| %>
                <% followed_user = User.find(relationship.followed_id) %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= link_to @user.name, @user, class: 'article-author' %> <span class="text-muted">is following</span>
                        <%= link_to followed_user.name, followed_user, class: 'article-author' %>
                    </div>
                    <div class="panel-footer"><%= time_ago_in_words(relationship.created_at) %> ago</div>
                </div>
            <% end %>
            <div class="text-center"><%= will_paginate @relationships, previous_label: '&laquo;', next_label: '&raquo;' %></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="user-activities">
            <div class="panel panel-danger">
                <div class="panel-heading text-center"><%= pluralize(@comments.count, 'comment') %></div>
            </div>
            <% @comments.each do |comment| %>
                <% article = Article.find(comment.article_id) %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= link_to @user.name, @user, class: 'article-author' %> <span class="text-muted">commented on</span>
                        <%= link_to article.title, article, class: 'article-title' %>
                    </div>
                    <div class="panel-footer"><%= time_ago_in_words(comment.created_at) %> ago</div>
                </div>
            <% end %>
            <div class="text-center"><%= will_paginate @comments, previous_label: '&laquo;', next_label: '&raquo;' %></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="user-activities">
            <div class="panel panel-danger">
                <div class="panel-heading text-center"><%= pluralize(@articles.count, 'article') %></div>
            </div>
            <% @articles.each do |article| %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= link_to @user.name, @user, class: 'article-author' %> <span class="text-muted">created article - </span>
                        <%= link_to article.title, article, class: 'article-title' %>
                    </div>
                    <div class="panel-footer"><%= time_ago_in_words(article.created_at) %> ago</div>
                </div>
            <% end %>
            <div class="text-center"><%= will_paginate @articles, previous_label: '&laquo;', next_label: '&raquo;' %></div>
        </div>
    </div>
</div>
