<% provide :title, 'Members' %>
<div class="row users-list">
    <% @users.in_groups_of(6) do |members| %>
        <% members.each do |member| %>
            <div class="col-md-2 user-block">
                <%= link_to member do %>
                    <%= user_gravatar(member, size: 120) %>
                    <h4 class="article-author"><%= member.name %></h4>
                    <h6 class="text-muted"><%= member.email %></h6>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <div class="text-center"><%= will_paginate @users, previous_label: '&laquo;', next_label: '&raquo;' %></div>
</div>
