<% content_for :title, @user.name %>
<div class="row">
    <div class="col-md-3"><%= render 'user_sidebar' %></div>
    <div class="col-md-9">
        <%= render 'follow_form' if logged_in? %>
        <% if @user_articles.empty? %>
            <div class="text-center text-warning"><%= @user.name %> hasn't posted anything yet.</div>
        <% else %>
            <div class="posts-wrapper">
                <%= render @user_articles %>
                <div class="text-center"><%= will_paginate @user_articles, previous_label: '&laquo;', next_label: '&raquo;' %></div>
            </div>
        <% end %>
    </div>
</div>

