<% provide :title, @title %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center" style="padding: 10px 0 15px 0">
            <%= link_to @user, class: 'text-danger' do %>
                <span class="fa fa-arrow-circle-left"></span> <%= @user.name %>
            <% end %>
        </div>
        <div class="text-center">
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading"><%= @user.name %>'s <%= @title.downcase %></h4>
                </a>
                <% if @users.any? %>
                    <% @users.each do |user| %>
                        <%= link_to user.name, user, class: 'list-group-item' %>
                    <% end %>
                <% else %>
                    <a class="list-group-item"><%= @user.name %> has no <%= @title.downcase %></a>
                <% end %>
            </div>
        </div>
    </div>
</div>
