<nav class="navbar navbar-inverse navbar-fixed-top main-navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#app-nav" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'RAILS BLOGG', root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse" id="app-nav">
            <ul class="nav navbar-nav">
                <li><%= link_to 'Home', root_path %></li>
                <% if logged_in? %>
                    <li><%= link_to 'People', users_path %></li>
                    <li><%= link_to 'Tags', tags_path %></li>
                <% end %>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'Contact', contact_path %></li>
                <li><%= link_to 'Help', help_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <li><a href="<%= new_article_path %>" data-toggle="tooltip" data-placement="bottom" title="Create a new article">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= current_session_user.name %><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'Your profile', current_session_user %></li>
                            <li><%= link_to 'Edit account', edit_user_path(current_session_user) %></li>
                            <li class="divider"></li>
                            <li><%= link_to 'Log out', logout_path, method: :delete %></li>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to 'Sign Up', signup_path %></li>
                    <li><%= link_to 'Sign In', signin_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
